* {
	margin: 0%;
	padding: 0%;
	font-family: lucida grande,tahoma,verdana,arial,sans-serif;
	color: #212121;
        
}

@media all and (max-width: 430px) {
    body{
        font-size: 3vw;
    }
}

body {
    background: #fafafa;
}

#login_form_outer {
    position:absolute;
    display: none;
    left: 50%;
    top: 10%;
    z-index: 2;
}

#login_form_inner {
    background-color: #E6E6E6;
    background: #fafafa;
    position: relative;
    left: -50%;
    padding: 10px 10px;
    border-radius: 5px;
}

#login_form_outer input{
    margin-bottom:5px;
}

#login_form_outer input[type="text"] {
    width: 100%;
}

#login_form_outer input[type="submit"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1em;
    color: #616161;
    text-align: center;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    margin-top:10px;
}

#login_form_outer input[type="submit"]:hover {
    background: #42a5f5;
}

#login_cover {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	display: none;
	position: absolute;
	z-index: 1;
        position:fixed;
}

#register_form_outer {
    position:absolute;
    display: none;
    left: 50%;
    top: 10%;
    z-index: 2;
}

#register_form_inner {
    background-color: #E6E6E6;
    background: #fafafa;
    position: relative;
    left: -50%;
    padding: 10px 10px;
    border-radius: 5px;
}

#register_form_outer input{
    margin-bottom:5px;
}

#register_form_outer input[type="text"] {
    width: 100%;
}

#register_form_outer input[type="submit"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1em;
    color: #616161;
    text-align: center;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    margin-top:10px;
}

#register_form_outer input[type="submit"]:hover {
    background: #42a5f5;
}

#registergoogle_form_outer {
	position:absolute;
	display: none;
	left: 50%;
	top: 10%;
	z-index: 2;
}

#registergoogle_form_inner {
    background-color: #E6E6E6;
    background: #fafafa;
    position: relative;
    left: -50%;
    padding: 10px 10px;
    border-radius: 5px;
}

#registergoogle_form_outer input{
    margin-bottom:5px;
}

#registergoogle_form_outer input[type="text"] {
    width: 100%;
}

#registergoogle_form_outer input[type="submit"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1em;
    color: #616161;
    text-align: center;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    margin-top:10px;
}

#registergoogle_form_outer input[type="submit"]:hover {
    background: #42a5f5;
}

.add_topic_link {
    padding-left: 10px;
}


#messageNewPosts_outer {
	position:fixed;
	display: none;
	left: 50%;
	top: 2%;
	z-index: 2;
}

#messageNewPosts_inner {
	background-color: #FFFF66;
        border:1px solid #000000;
	position: relative;
	left: -50%;
        font-weight: bold;
        padding: 4%;
}

#addpost_button {
    display: none;
}

.admin_item_box {
    margin-bottom: 0px;
}

/*.settings_item_box {
    border:5px solid;
}*/


#auth_header {
    background: #2196f3;
    text-align:left;
    display: block;
    width: 100%;
    padding-left: 20px;
}

#auth_header button {
    height: 40px;
    border: none;
    max-width: 200px;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
    padding: 0px 10px;
}

#auth_header  button:hover {
    background: #42a5f5;
}

#auth_header  a {
    height: 40px;
    line-height: 40px;
    border: none;
    display: inline-block;
    width: 100px;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
}

#auth_header  a:hover {
	background: #42a5f5;
        text-decoration: none;
}

#auth_header p {
    display: inline-block;
    margin-right: 3px; 
    font-weight: bold;
}

#auth_header p span {
    color: #E6B800;
}

#navigator {
	padding-left: 2%;
	line-height: 40px;
	font-weight: bold;
	font-size: 1.25em;
	background: #eeeeee;
	border-bottom: 1px solid #9e9e9e;
	margin-bottom: 30px;
}

#navigator a {
	color: #616161;
}

#navigator a:hover{
	text-decoration: none;
	color: #424242;
}

.forum_table {
    margin-left: auto;
    margin-right: auto;
    width: 98.5%;
	
    /*border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;*/
    
    line-height: 40px;
    height: 40px;
    background: #f5f5f5;
    
    /*font-size: 2vmin;*/
}

.forum_table, th, td {
    border:1px solid #9e9e9e;
    width: 98.5%;
}

.forum_table th {
    padding: 0px 3px;
    font-size: 1.2em;
}

.forum_table td:nth-child(n+2) {
    text-align: center;
}

.forum_table td a {
    width: 100%;
    display: block;
    font-weight: bold;
    color: #616161;
    padding-left: 2%;
}

.forum_table td a:hover {
    background: #eeeeee;
    text-decoration: none;
    color: #424242;
}

#online_counter {
    margin-top: 10px;
    padding-bottom: 2%;
    float:right;
    padding-right: 2%;
    text-align: center;
    font-size: 1em;
}

.root_post_wrapper h3 {
    font-size: 1.8em;
 
}

.root_post_wrapper .post_container {
    background: #EDEDED; 
}

.root_post_wrapper .post_container h5 {
    background: #CFCFCF; 
}

.post_container h5 {
    margin: 0px;
    background: #E6E6E6;
    padding: 7px 1%;
    font-size: 1.15em;
}


.post_pagination {
    background: transparent;
    
    padding: 4px 4px;
    margin: 0px;
}

.post_container p {
    padding: 5px 7px;
}


.post_container {
    border:1px solid #9e9e9e;
    padding-bottom: 7px;
    margin-top: 5px;
}

.post_container .post_normal_a {

    display: inline-block;
    font-weight: bold;
    font-size: 1em;

    text-align: center;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    padding: 2px 5px;

}

.post_container .post_normal_a:hover {
    background: #42a5f5;
    text-decoration: none;
}

.post_container button {

    font-weight: bold;
    font-size: 1em;
    display: inline-block;

    text-align: center;
    margin-left: 5px;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    padding: 2px 5px;
}

.post_container button:hover {
    background: #42a5f5;
}




.btn-success {
    padding: 2px 5px;
}

.btn-primary {
    padding: 2px 5px;
}

.btn-danger {
    padding: 2px 5px;
}

.marginme {
    margin-left: 10px;
    padding: 8px;
}


.any_form input{
    margin-bottom:5px;
}



.any_form input[type="submit"] {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;

    text-align: center;
    margin-left: 5px;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    padding: 2px 5px;
}

.any_form input[type="submit"]:hover {
    background: #42a5f5;
}

.any_form button{
    font-weight: bold;
    font-size: 1em;
    display: inline-block;

    text-align: center;
    margin-left: 5px;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    padding: 2px 5px;
}

.any_form button:hover {
    background: #42a5f5;
}


.any_form a{
    font-weight: bold;
    font-size: 1em;
    display: inline-block;

    text-align: center;
    margin-left: 5px;
    background: #2196f3;
    color: #ffffff;
    border: 1px solid #1976d2;
    border-radius: 3px;
    padding: 2px 5px;
    margin-top: 5px;
}

.any_form a:hover {
    background: #42a5f5;
    text-decoration: none;
}