/*

	KSM Foorumi style.css 
	Versioon: 1.0
	Tags: värv1, värv2, 3-realine (värvid pole veel valitud, värvid kasutatud antud failis on näidise eesmärgiks.)

*/

body {
	background: #000000 url(background.jpg) center top no-repeat; /* FIX ALL IMAGE PATHS! */
	color: #C8C7C7;
}

#wrapper {
    background: url(wrapper-bg.png) left top repeat-x; 
}

a {
    color: #1A83CC;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #87BAFB;
    text-decoration: none;
}

a:focus { 
    outline: none;
}

/* -----------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */


#container {
	width: 960px;
	margin: 14px auto 0 auto;
}

#main {
	padding: 15px;	
    background: url(images/main-back.png); /* LISA MAIN-BACKGROUND PILT */
}

#main-fullwidth {
    padding: 15px;
    background: url(images/main-back.png); /* LISA MAIN-BACKGROUND PILT */
}

#content {
    overflow: hidden;
    float: left;
    width: 460px;
    margin-left: 235px;
}

/* ---------------------------------------------------------------------------------------
------- 			ÄÄRISED !!               ------------------------------ */

#sidebar-primary { /* primary aka vasak */
    overflow: hidden;
	float: left;
    width: 220px; /* 235 margin - 15px padding */
    margin-left: -695px; /* 460+235 excludes padding */
}

#sidebar-secondary { /* secondary aka parem */
    overflow: hidden;
	float: right;
    width: 220px; /* 235 margin - 15px padding */
    margin-left: 15px; /* padding from side */
}

/* -----------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */

#header {
    height: 60px;
    padding: 21px 0;
}

.header-right {
    float: right;
}

.logo {
    float: left;
    margin: 6px 0;
}

.logo h1.site_title {
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 48px;
    line-height: 40px;
    font-weight: bold;
}

.logo h1.site_title a, .logo h1.site_title a:hover {
    color: #FFFFFF; /* black */
    text-decoration: none;
}


/* -------------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */
/* ---------------------	 	MENÜÜ	       	----------------------------- */
/* -------------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */


.menu-primary-container {
    float: left;
    padding:0;
    position:relative;
    height: 34px;
    background: none;
    z-index: 400;
}

.menu-primary {
}

.menu-primary ul {
	min-width: 160px;
}


/* Peamine/ nr. 1 menüü */

.menu-primary li a {
    color: #FFFFFF;
    padding: 11px 15px 10px 15px;
	text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

.menu-primary li a:hover, .menu-primary li a:active, .menu-primary li a:focus, 
.menu-primary li:hover > a, .menu-primary li.current-cat > a, .menu-primary li.current_page_item > a, .menu-primary li.current-menu-item > a {
    color: #7BABE4;
    outline: 0;
    background: none;
}



/* Menüüception aka menüü in menüü aka alafoorum */

.menu-primary li li a {
	color: #fff;
    text-transform: none;
    background: url(images/menu-primary-cl-bg.png); /* Mõtle välja mingi lambine pilt vms, mida alafoorumis kasutada. Mitte sama nagu pealehel.*/
    padding: 10px 15px;
    margin: 0;
    border: 0;
    font-weight: normal;
}

.menu-primary li li a:hover, .menu-primary li li a:active, .menu-primary li li a:focus, 
.menu-primary li li:hover > a, .menu-primary li li.current-cat > a, .menu-primary li li.current_page_item > a, .menu-primary li li.current-menu-item > a {
	color: #fff;
    background: url(images/menu-primary-cl-hover.png); /* Mõtle välja mingi lambine pilt vms, mida alafoorumis kasutada. Mitte sama nagu pealehel.*/
    outline: 0;
    border-bottom:0;
    text-decoration: none;
}

/* Everest soovitas arrows & shadows primary'sid. Undecisive. */


/* -------------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */

/* SECONDARY / nr. 2 menüü -------------------- SISULISELT SAMA KUI ESIMENE ! ------ * /

/* -------------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */
.menu-secondary-container {
    position:relative;
    height: 44px;
    z-index: 300;
    background: url(images/menu-secondary-bg.png) left top repeat-x; /* Need of image again. */
}

.menu-secondary {}

.menu-secondary ul {
    min-width: 160px;
}

.menu-secondary li a {
    color: #FFFFFF;
    padding: 16px 15px 15px 15px;
	text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
}

.menu-secondary li a:hover, .menu-secondary li a:active, .menu-secondary li a:focus, 
.menu-secondary li:hover > a, .menu-secondary li.current-cat > a, .menu-secondary li.current_page_item > a, .menu-secondary li.current-menu-item > a {
    color: #fff;
    background: url(images/menu-secondary-bg.png) left top repeat-x; /* IMAGE! */
    outline: 0;
    text-shadow: 0 1px 0 #004373; /* Efektiivsem lugeda slightly. */
}

/* Menüüception aka menüü in menüü aka alafoorum */

.menu-secondary li li a {
	color: #fff;
    background: #3F799F;
    padding: 10px 15px;
    text-transform: none;
    margin: 0;
    font-weight: normal;
    text-shadow: 0 1px 0 #004373;
}

.menu-secondary li li a:hover, .menu-secondary li li a:active, .menu-secondary li li a:focus, 
.menu-secondary li li:hover > a, .menu-secondary li li.current-cat > a, .menu-secondary li li.current_page_item > a, .menu-secondary li li.current-menu-item > a {
	color: #fff;
    background: #588BAD;
    outline: 0;
}


/* ARROWS & SHADOWS SECONDARY MENÜÜ <-- Everest suggested, järgmiseks etapiks vaja aru saada, mida need teevad. */

/* -------------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */
/* -------------- 	END		OF		MENÜÜ	--------------------- */
/* -------------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------
------------------------- 		POSTITUSED		------------------------------ 
------------------------------------------------------------------------------------------- */

.post {
    margin-bottom: 15px;
    border-bottom: 0;
}

.page, .post-single {
    border-bottom: 0;
    margin-bottom: 0;
}

.title {
    color: #DBDBDB;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}

.title a {
    color: #DBDBDB; /* Hall */
    text-decoration: none;
}

.title a:hover {
    color: #3B8EC7; /* Navy blue */
    text-decoration: none;
}

.entry {
    line-height: 20px;
}

.featured_image {
    padding: 6px;
    border: 1px solid #525252;
    background: #fff;
}

.page-title {
    color: #DBDBDB;
    margin: 0px 0 10px 0;
    padding: 0 0 10px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid #DBDBDB;
}


/* Suggested: Post Meta, Read More etc */

/* ------------------------------------------------------------------------------------------------------
------------------------- 			JALUS			---------------------------------
------------------------------------------------------------------------------------------------------ */

#footer-container {
}

#footer {
    margin-bottom:15px;
}

#copyrights {
    color: #FFFFFF;
    background: #333333;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444444;
}

#copyrights a {
    color: #FFFFFF;
} 

#copyrights a:hover {
    color: #FFFFFF;
    text-decoration: none;
} 

#credits {
    color: #B7B7B7;
    text-align: center;
    font-size: 11px;
    padding: 10px 0 0 0;
}

#credits a {
    color: #B7B7B7;
    text-decoration: none;
} 

#credits a:hover {
    text-decoration: none;
    color: #B7B7B7;
}

/* --------------------------------- SEARCH BAR! -------------------------------------- */

#search {
    border: 1px solid #2E2E2E;
    text-align: left;
    padding: 6px 24px 6px 6px;
}

#search #s {
    background: none;
    color: #828282;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: none;
}

#content-search {
    width: 300px;
    padding: 15px 0;
}

#topsearch {
    float: right;
    margin-top: 15px;
}

#topsearch #s {
    width: 220px;
}

/* WIDGETS & BANNERS NEED TO BE ADDED! */
/* WIDGETS & BANNERS NEED TO BE ADDED! */
/* WIDGETS & BANNERS NEED TO BE ADDED! */
/* WIDGETS & BANNERS NEED TO BE ADDED! */
/* WIDGETS & BANNERS NEED TO BE ADDED! */
/* WIDGETS & BANNERS NEED TO BE ADDED! */


/* -------------------------------  -------------------------------  ------------------------------- */
/* -------------------------------------   KOMMENTEERIMINE  ------------------------------------- !! */
/* -------------------------------  -------------------------------  ------------------------------- */

#comments {
    margin-bottom: 15px;
}

#comments p {
    margin: 5px 0 10px 0;
}

h3#comments-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 15px 0;
}

.commentlist { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentlist li.comment {
    line-height: 24px;
    margin: 0 0 15px 0;
    padding: 0 0 0 0px;
    position: relative;
}

.commentlist li:last-child {
    border-bottom:none;
    margin-bottom:0;
}

#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 15px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 15px;
}

.commentlist .avatar {
    border: 3px solid #ffffff;
    margin-right: 10px; 
    width: 40px; 
    height: 40px; 
    vertical-align: middle;
    margin-bottom: 2px;
}

.comment-author {
    padding: 5px;
    display: block;
    background: #F2F2F2;
    border: 1px solid #DFDFDF;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.comment-author cite {
    font-style: normal;
    font-weight: bold;
}

.comment-author .says {
    font-style: italic;
}

.fn, .fn a:link, .fn a:hover, .fn a:visited {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px; 
    font-style: normal; 
    font-weight: bold;
    text-decoration: none;
}

.commentlist .bypostauthor {
}
.reply {
    text-align: right;
    margin-bottom: 10px;
}

.comment-reply-link  {
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    background: #EDEDED;
    color: #333;
    padding: 2px 8px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:  1px solid #999999;
}

.comment-reply-link:hover {
    background: #F5F5F5;
    color: #333;
}


.commentlist .children {
    list-style: none;
    margin: 0;
}

/* -------------------------------  -------------------------------  ------------------------------- */
/* ------------------------------------------ REPLIES ---------------------------------------------- */
/* -------------------------------  -------------------------------  ------------------------------- */

.commentlist .children li {
    border: none;
    margin: 0;
}

.nocomments {
    display: none;
}

#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    font-size: 12px;
    line-height: 18px;
    display:block;
    margin: 0;
}

#comments .pingback .url {
    font-style: italic;
    font-size: 13px;
}

/* -------------------------------  -------------------------------  ------------------------------- */
/* ------------------------------------------ RESPONDS --------------------------------------------- */
/* -------------------------------  -------------------------------  ------------------------------- */

#respond {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

h3#reply-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 15px 0;
}

#respond .required {
    color:#FF4B33;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    display: none;
}

.children #respond {
    margin: 0 48px 0 0;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

#respond .required {
    color:#FF4B33;
    font-weight:bold;
}

#respond label {
    font-size: 12px;
    font-weight: bold;
}

#respond input {
    margin:10px 0 0 0;
    width:98%;
}

#respond textarea {
    width:98%;
    margin:10px 0 0 0;
}

#respond .form-allowed-tags {
    font-size: 12px;
    line-height: 18px;
}

#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond input[type=submit] {
    margin: 0;
}

#respond .form-submit {
    margin: 0;
}

#respond .form-submit input {
    width: auto;
    font-size: 14px;
}
#respond dl {
    margin: 0 0 10px;
}

#respond dt {
    display: inline;
    font-weight: normal;
}

#respond dd {
    display: inline;
}

/* -------------------------------  -------------------------------  ------------------------------- */
/* -------------------------------  -------------------------------  ------------------------------- */
/* -------------------------------              LÕPP 		     ------------------------------- */
/* -------------------------------  -------------------------------  ------------------------------- */
/* -------------------------------  -------------------------------  ------------------------------- */


/* KUI KÕIK ON TEHTUD, SIIS SIIA LISADA TABLETS & PHONES !! */


/* KÕIK, MIS KEVINI POOLT JUBA TEHTUD OLI! */

* {

 margin: 0px;
 padding: 0px;

}

#login_form_outer {
	position:absolute;
	display: none;
	left: 50%;
	top: 10%;
	z-index: 2;
}

#login_form_inner {
	background-color: #E6E6E6;
    border:5px solid #000000;
	position: relative;
	left: -50%;
}

#login_cover {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	display: none;
	position: absolute;
	z-index: 1;
}

#register_form_outer {
	position:absolute;
	display: none;
	left: 50%;
	top: 10%;
	z-index: 2;
}

#register_form_inner {
	background-color: #E6E6E6;
        border:5px solid #000000;
	position: relative;
	left: -50%;
}

#registergoogle_form_outer {
	position:absolute;
	display: none;
	left: 50%;
	top: 10%;
	z-index: 2;
}

#registergoogle_form_inner {
	background-color: #E6E6E6;
        border:5px solid #000000;
	position: relative;
	left: -50%;
}


#auth_header {
    border:1px solid blue;
    text-align:center;
    display: inline-block;
    padding:2px;
}

.forum_table, th, td {
    border:1px solid black;
    width: 80%;
}

.forum_table {
    width:50%;
}

.forum_table td {
    text-align: center;
}

.add_topic_link {
    padding-left: 10px;
}

.post_container {
    border:1px solid;
    position: relative;
}

.post_container h5 {
    margin-top: 0px;
    padding-top: 0px;
}

.post_container h5 a {
    padding-left: 10px;
    padding-top: 0px;
}
